/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body{
	
	text-align: center;
	margin: 0 auto;
}

tr{margin: 0 auto;}

h1{margin: 0 auto;
color: blue;
text-align: center;
font-size: 65px;}



h2{
	text-align: center;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	color: orange;
	font-size: 50px;
}

.jokey {
	color:orange;
	font-size: 50px;
	float: left;
	text-align: center;
	margin:0 auto;
}

.align {
	color:blue;
	font: helvetica, sans serif;
	font-size: 30px;
	float: left;
	text-align:center;
	margin: 0 auto;
}

.container {
	width: auto;
	height: auto;
	margin: auto;
	text-align: center;

}

td{
	text-align: center;
}